<div *ngIf="error === false">
  <p>Iterations to go through: {{iterations.length}}</p>
  <p *ngIf="this.currentIteration === null"><b>We will start in a few seconds...</b></p>
  <div style="border: 1px #333333" *ngIf="this.currentIteration !== null">
    <h1>Iteration #{{currentIteration.iteration}}</h1>
    <p *ngIf="currentIteration.addingTime">Adding time: <b>{{currentIteration.addingTime|secTransform}}</b></p>
    <p *ngIf="currentIteration.addingReq">Adding required link clicks: <b>{{currentIteration.addingReq}}</b></p>
  </div>
  <h1 *ngIf="currentIteration !== null && currentIteration.iteration >= iterations.length">That's it. Have fun!</h1>
</div>
<div *ngIf="error !== false">
  <p>Sorry, your data seems to be wrong. Please reload this page and start all over — or click the link that brought you here again.</p>
</div>
