<div class="alert alert-danger">You found a very evil toy for your EmlaLock session. Depending on the profile you are going to select, your session will be heavily manipulated.</div>
<div class="row gx-5 mt-5">
  <div class="col-md-6">
    <h2 class="text-center">Log in and select a profile</h2>
    <p>Keep in mind: It is not a good idea to enter your API data into an application you don't trust.</p>
    <div class="alert alert-info"><fa-icon [icon]="faInfo" [fixedWidth]="true"></fa-icon> You can find your credentials under <b><a href="https://www.emlalock.com/#/settings">Settings</a></b> in the tab <b>API</b>!</div>
    <form (submit)="submit()">
      <div class="mb-1">
        <label for="apiUserID" [ngClass]="{'form-label': true, 'text-danger': apiUserValidated === false}">User ID</label>
        <input (change)="validateUser()" (keyup)="validateUser()" [ngClass]="{'form-control': true, 'is-valid': apiUserValidated === true, 'is-invalid': apiUserValidated === false}" [pattern]="userPattern" type="text" id="apiUserID" [(ngModel)]="apiData.apiUser" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="mb-1">
        <label for="apiKey" [ngClass]="{'form-label': true, 'text-danger': apiKeyValidated === false}">API Key</label>
        <input (change)="validateKey()" (keyup)="validateKey()" [ngClass]="{'form-control': true, 'is-valid': apiKeyValidated === true, 'is-invalid': apiKeyValidated === false}" [pattern]="keyPattern" type="text" id="apiKey" [(ngModel)]="apiData.apiKey" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="alert alert-warning mt-5 mb-5"><b>Your API credentials will not be saved and are only transmitted to the EmlaLock API. Everything runs locally on your computer/tablet/smartphone.</b> If you want, check the source code of this app: <a href="https://github.com/l0g-0ut/elg">github.com/l0g-0ut/elg</a>.</div>
      <button type="submit" class="btn btn-lg btn-primary">Confirm</button>
      <p class="mt-4"><small class="text-muted">This service is not affiliated with EmlaLock!</small></p>
    </form>
  </div>
  <div class="col-md-6">
    <h2 class="text-center">Build a profile yourself</h2>
    <div class="d-grid gap-3">
      <p>You can create a profile and share it with a generated link. Use this option to build a custom setup tailored for your wearer.</p>
      <button class="btn btn-outline-success btn-lg text-center" (click)="callback.emit(false)" type="button">
        <fa-icon size="8x" [icon]="faCreate" [fixedWidth]="true"></fa-icon>
        <br>Create a Profile
      </button>
    </div>
    <hr class="mt-5 mb-4">
    <h2 class="text-center">Want a preview?</h2>
    <div class="d-grid gap-3">
      <p>Don't know our standard profiles? Take a sneak peak here, without using your API credentials.</p>
      <button class="btn btn-info btn-lg text-center" (click)="previewOpener.emit(true)" type="button">
        <fa-icon size="3x" [icon]="faPreview" [fixedWidth]="true"></fa-icon>
        <br>Preview Profiles
      </button>
    </div>
  </div>
</div>
