<h2>Please enter your EmlaLock API Data
  <button class="btn btn-outline-dark float-end" (click)="callback.emit(false)">Create a Profile instead</button>
</h2>
<p>Keep in mind: It is not a good idea to enter your API data into an application you don't trust.</p>
<div class="alert alert-info"><fa-icon [icon]="faInfo" [fixedWidth]="true"></fa-icon> You can find your credentils under <b><a href="https://www.emlalock.com/#/settings">Settings</a></b> in the tab <b>API</b>!</div>
<form>
  <div class="mb-1">
    <label for="apiUserID" class="form-label">User ID</label>
    <input type="text" class="form-control" id="apiUserID" placeholder="" [(ngModel)]="apiData.apiUser" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="mb-1">
    <label for="apiKey" class="form-label">API Key</label>
    <input type="text" class="form-control" id="apiKey" placeholder="" [(ngModel)]="apiData.apiKey" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="alert alert-warning mt-5 mb-5"><b>Your API credentials will not be saved and are only transmitted to the EmlaLock API. Everything runs locally on your computer/tablet/smartphone.</b> If you want, check the source code of this app: <a href="https://github.com/l0g-0ut/elg">github.com/l0g-0ut/elg</a>.</div>
  <button type="button" class="btn btn-lg btn-primary" (click)="callback.emit(true)">Confirm</button>
  <p class="mt-4"><small class="text-muted">This service is not affiliated with EmlaLock!</small></p>
</form>
