<div flex="33">
  <mat-card>
    <mat-card-title>Play the Game</mat-card-title>
    <mat-card-subtitle>{{title}}</mat-card-subtitle>
    <mat-card-content>
      <step1 *ngIf="currentStep == 1" [apiData]="apiData" (callback)="onConfirm($event)"></step1>
      <step2 *ngIf="currentStep == 2" (callback)="onConfirm($event)"></step2>
      <step3 *ngIf="currentStep == 3" [apiData]="apiData" [profileData]="profileData"></step3>
      <builder *ngIf="currentStep == -1"></builder>
    </mat-card-content>
  </mat-card>
</div>
