<nav ngbNav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Play the Game | v{{version}}</a>
    <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="?p="><fa-icon [fixedWidth]="true" [icon]="faReload"></fa-icon>Restart</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid mt-2 mb-3">
  <div class="card bg-light text-dark">
    <h1 class="card-header">{{title}}</h1>
    <div class="card-body">
      <step1 *ngIf="currentStep == 1" [apiData]="apiData" (callback)="onConfirm($event)" (previewOpener)="openPreview()"></step1>
      <step2 *ngIf="currentStep == 2" (callback)="onConfirm($event)"></step2>
      <step3 *ngIf="currentStep == 3" [apiData]="apiData" [profileData]="profileData"></step3>
      <builder *ngIf="currentStep == -1"></builder>
      <custom *ngIf="userDefinedProfile !== null && this.currentStep == -2" [userDefinedLink]="userDefinedProfile" [apiData]="apiData" (callback)="onConfirm($event)"></custom>
    </div>
    <div class="card-footer">
      <small><span class="text-warning"><fa-icon [fixedWidth]="true" [icon]="faWarning"></fa-icon></span> You need an EmlaLock account and a running session to use this app!</small>
    </div>
  </div>
</div>

<ng-template #overrideMaxWarning let-overrideMaxWarningModal>
    <div class="modal-header">
      <h4 class="modal-title text-danger"><fa-icon [icon]="faWarning" [fixedWidth]="true"></fa-icon> This profile will not respect your maximum time setting!</h4>
      <button type="button" class="btn btn-close" aria-label="Close" (click)="overrideMaxWarningModal.dismiss('cancel')"></button>
    </div>
    <div class="modal-body text-black">
      <p>We need you to fully understand, that this profile will <strong>extend the maximum time</strong> you set for your session. This cannot be undone by yourself!</p>
      <p class="text-center text-danger border border-1 border-danger p-2 rounded rounded-2" *ngIf="maxTimeToConfirm > 0">The theoretical maximum of time that could be added with the currently selected profile would be<br><strong class="h3">{{maxTimeToConfirm|secTransform}}</strong></p>
      <div class="mt-1">
        <label for="confirmationInputField" [ngClass]="{'form-label': true, 'text-success': confirmationMaxInput.toLowerCase() === confirmationMaxText.toLowerCase()}">If you really want to proceed, please type <strong>{{confirmationMaxText}}</strong> into this text field:</label>
        <input autocomplete="off" [placeholder]="confirmationMaxText" [ngClass]="{'form-control': true, 'is-valid': confirmationMaxInput.toLowerCase() === confirmationMaxText.toLowerCase(), 'is-invalid': confirmationMaxInput.toLowerCase() !== confirmationMaxText.toLowerCase()}" type="text" id="confirmationInputField" [(ngModel)]="confirmationMaxInput" [ngModelOptions]="{standalone: true}">
        <small class="text-muted">A confirmation button will appear when input is correct.</small>
      </div>
    </div>
    <div class="modal-footer">
      <button [hidden]="confirmationMaxInput.toLowerCase() !== confirmationMaxText.toLowerCase()" [disabled]="confirmationMaxInput.toLowerCase() !== confirmationMaxText.toLowerCase()" type="button" class="btn btn-danger" (click)="overrideMaxWarningModal.close('okay')"><fa-icon [icon]="faWarning" [fixedWidth]="true"></fa-icon> Okay, override the maximum with no further warning!</button>
      <button type="button" class="btn btn-outline-dark" (click)="overrideMaxWarningModal.dismiss('cancel')"><fa-icon [icon]="faClose" [fixedWidth]="true"></fa-icon> Cancel</button>
    </div>
</ng-template>

<ng-template #overrideMinWarning let-overrideMinWarningModal>
  <div class="modal-header">
    <h4 class="modal-title text-danger"><fa-icon [icon]="faWarning" [fixedWidth]="true"></fa-icon> This profile will add time to your Minimum Time setting!</h4>
    <button type="button" class="btn btn-close" aria-label="Close" (click)="overrideMinWarningModal.dismiss('cancel')"></button>
  </div>
  <div class="modal-body text-black">
    <p>We need you to fully understand, that this profile will <strong>add time to your Minimum Time</strong> you set for your session. This cannot be undone by yourself!</p>
    <p class="text-center text-danger border border-1 border-danger p-2 rounded rounded-2" *ngIf="minTimeToConfirm > 0">The theoretical maximum of time that could be added with the currently selected profile would be<br><strong class="h3">{{minTimeToConfirm|secTransform}}</strong></p>
    <div class="mt-1">
      <label for="confirmationInputFieldMin" [ngClass]="{'form-label': true, 'text-success': confirmationMinInput.toLowerCase() === confirmationMinText.toLowerCase()}">If you really want to proceed, please type <strong>{{confirmationMinText}}</strong> into this text field:</label>
      <input autocomplete="off" [placeholder]="confirmationMinText" [ngClass]="{'form-control': true, 'is-valid': confirmationMinInput.toLowerCase() === confirmationMinText.toLowerCase(), 'is-invalid': confirmationMinInput.toLowerCase() !== confirmationMinText.toLowerCase()}" type="text" id="confirmationInputFieldMin" [(ngModel)]="confirmationMinInput" [ngModelOptions]="{standalone: true}">
      <small class="text-muted">A confirmation button will appear when input is correct.</small>
    </div>
  </div>
  <div class="modal-footer">
    <button [hidden]="confirmationMinInput.toLowerCase() !== confirmationMinText.toLowerCase()" [disabled]="confirmationMinInput.toLowerCase() !== confirmationMinText.toLowerCase()" type="button" class="btn btn-danger" (click)="overrideMinWarningModal.close('okay')"><fa-icon [icon]="faWarning" [fixedWidth]="true"></fa-icon> Okay, override the minimum with no further warning!</button>
    <button type="button" class="btn btn-outline-dark" (click)="overrideMinWarningModal.dismiss('cancel')"><fa-icon [icon]="faClose" [fixedWidth]="true"></fa-icon> Cancel</button>
  </div>
</ng-template>

<ng-template #profilePreviewer let-profilePreviewerModal>
  <div class="modal-header">
    <h4 class="modal-title text-dark">Our predefined profiles</h4>
    <button type="button" class="btn btn-close" aria-label="Close" (click)="profilePreviewerModal.dismiss('cancel')"></button>
  </div>
  <div class="modal-body text-black">
    <profile-preview></profile-preview>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="profilePreviewerModal.dismiss('cancel')"><fa-icon [icon]="faClose" [fixedWidth]="true"></fa-icon> Close</button>
  </div>
</ng-template>
