<h2>Build your own profile here!</h2>
<p>This allows you to create a profile and a link to share it. If your wearer uses the link, they'll only see the settings you defined for them.</p>
<form (submit)="buildLink()">
  <fieldset class="border-bottom mb-3 pb-3">
    <legend>Basic Options</legend>
    <div class="form-group">
      <label for="proName" [ngClass]="{'form-label': true, 'text-danger': errors.name !== null}">Profile Name</label>
      <input [ngClass]="{'form-control': true, 'is-invalid': errors.name !== null}" [(ngModel)]="profileData.profileName" [ngModelOptions]="formModelOptions" type="text" id="proName">
      <div *ngIf="errors.name !== null" class="invalid-feedback">{{errors.name}}</div>
    </div>
    <div class="form-check form-check-inline mt-3">
      <input class="form-check-input" type="checkbox" id="showDetails" [(ngModel)]="profileData.settingsShown" [ngModelOptions]="formModelOptions">
      <label class="form-check-label" for="showDetails">Show settings to the user? <em>If not set, your user would know even less what's coming.</em></label>
    </div>
  </fieldset>
  <fieldset class="border-bottom mb-3 pb-3">
    <legend>Iterations</legend>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-check form-check-inline">
          <input #fixedIterEnabled [ngClass]="{'form-check-input': true, 'is-invalid': errors.enableFixIterations !== null}" type="checkbox" id="enFixedIter" (change)="changeFixedIter($event)">
          <label [ngClass]="{'form-check-label': true, 'text-danger': errors.enableFixIterations !== null}" for="enFixedIter">Enable fixed iterations</label>
          <div *ngIf="errors.enableFixIterations !== null" class="invalid-feedback">{{errors.enableFixIterations}}</div>
        </div>
        <div class="form-group">
          <label [ngClass]="{'form-label': true, 'text-danger': errors.fixIterations !== null}" for="fixedIter">Fixed number of iterations</label>
          <input [ngClass]="{'form-control': true, 'is-invalid': errors.fixIterations !== null}" [disabled]="profileData.settings.iterations.fix === null && !fixedIterEnabled.checked" [(ngModel)]="profileData.settings.iterations.fix" [ngModelOptions]="formModelOptions" type="number" min="1" id="fixedIter" aria-describedby="iterHelp">
          <div *ngIf="errors.fixIterations !== null" class="invalid-feedback">{{errors.fixIterations}}</div>
          <small id="iterHelp" class="form-text text-muted">If you set a number of fixed iterations, the random generator for iterations gets disabled.</small>
        </div>
      </div>
      <div class="col-sm-6">
        <strong>Random</strong>
        <div class="form-group">
          <label [ngClass]="{'form-label': true, 'text-danger': errors.iterMin !== null}" for="minIter">Minimum number of iterations</label>
          <input [ngClass]="{'form-control': true, 'is-invalid': errors.iterMin !== null}" [disabled]="profileData.settings.iterations.fix !== null || fixedIterEnabled.checked" [(ngModel)]="profileData.settings.iterations.min" [ngModelOptions]="formModelOptions" type="number" min="1" id="minIter">
          <div *ngIf="errors.iterMin !== null" class="invalid-feedback">{{errors.iterMin}}</div>
        </div>
        <div class="form-group">
          <label [ngClass]="{'form-label': true, 'text-danger': errors.iterMax !== null}" for="maxIter">Maximum number of iterations</label>
          <input [ngClass]="{'form-control': true, 'is-invalid': errors.iterMax !== null}" [disabled]="profileData.settings.iterations.fix !== null || fixedIterEnabled.checked" [(ngModel)]="profileData.settings.iterations.max" [ngModelOptions]="formModelOptions" type="number" min="1" id="maxIter">
          <div *ngIf="errors.iterMax !== null" class="invalid-feedback">{{errors.iterMax}}</div>
        </div>
      </div>
    </div>
    <h6 class="mt-4 mt-sm-2">Sleep Time before iterations</h6>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label [ngClass]="{'form-label': true, 'text-danger': errors.sleepMin !== null}" for="minSleep">Minimum number of seconds to sleep</label>
          <input [ngClass]="{'form-control': true, 'is-invalid': errors.sleepMin !== null}" [(ngModel)]="profileData.settings.sleeps.min" [ngModelOptions]="formModelOptions" type="number" min="1" id="minSleep">
          <div *ngIf="errors.sleepMin !== null" class="invalid-feedback">{{errors.sleepMin}}</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label [ngClass]="{'form-label': true, 'text-danger': errors.sleepMax !== null}" for="maxSleep">Maximum number of seconds to sleep</label>
          <input [ngClass]="{'form-control': true, 'is-invalid': errors.sleepMax !== null}" [(ngModel)]="profileData.settings.sleeps.max" [ngModelOptions]="formModelOptions" type="number" min="5" id="maxSleep">
          <div *ngIf="errors.sleepMax !== null" class="invalid-feedback">{{errors.sleepMax}}</div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="border-bottom mb-3 pb-3">
    <legend>Penalties (per iteration)</legend>
    <h6 class="mt-2">Adding time</h6>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="penTimeEn" [(ngModel)]="profileData.settings.penalty.time.enabled" [ngModelOptions]="formModelOptions">
      <label class="form-check-label" for="penTimeEn">Enabled</label>
    </div>
    <div class="row">
      <div class="col-md-6 pt-3 pt-md-0">
        <time [enabled]="profileData.settings.penalty.time.enabled" [fieldError]="errors.timeMin" label="Minimum time to be added" [(model)]="profileData.settings.penalty.time.min"></time>
      </div>
      <div class="col-md-6 pt-3 pt-md-0">
        <time [enabled]="profileData.settings.penalty.time.enabled" [fieldError]="errors.timeMax" label="Maximum time to be added" [(model)]="profileData.settings.penalty.time.max"></time>
      </div>
    </div>
    <h6 class="mt-4 mt-sm-3">Adding requirements</h6>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="penReqEn" [(ngModel)]="profileData.settings.penalty.requirements.enabled" [ngModelOptions]="formModelOptions">
      <label class="form-check-label" for="penReqEn">Enabled</label>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="minReq">Minimum number of requirements to be added</label>
          <input [disabled]="!profileData.settings.penalty.requirements.enabled" [(ngModel)]="profileData.settings.penalty.requirements.min" [ngModelOptions]="formModelOptions" type="number" min="0" class="form-control" id="minReq">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="maxReq">Maximum number of requirements to be added</label>
          <input [disabled]="!profileData.settings.penalty.requirements.enabled" [(ngModel)]="profileData.settings.penalty.requirements.max" [ngModelOptions]="formModelOptions" type="number" min="1" class="form-control" id="maxReq">
        </div>
      </div>
    </div>
  </fieldset>
  <button class="btn btn-primary btn-lg" type="submit"><fa-icon [icon]="faBuild" [fixedWidth]="true"></fa-icon> Build Link</button>
  <small *ngIf="validationFailed" class="text-danger d-inline-block p-2">Unable to create link. Please check the marked input fields.</small>
</form>
<div *ngIf="generatedLink !== null" class="card mt-3 bg-success text-white">
  <h4 class="card-header"><fa-icon [fixedWidth]="true" [icon]="faReady"></fa-icon> Your link is ready!</h4>
  <div class="card-body">
    <p class="card-text">Copy and use the following link to let someone execute your profile:</p>
    <pre class="d-block btn-light p-2 text-dark border border-1 text-wrap"><strong class="card-text"><a class="card-text" href="{{generatedLink}}">{{generatedLink}}</a></strong></pre>
    <button [disabled]="!shortenerAvailable" class="btn btn-secondary mt-1" (click)="shortenUrl()"><fa-icon [icon]="faShorten" [fixedWidth]="true"></fa-icon> Shorten URL</button>
    <small class="card-text d-inline-block p-2">Be patient, this might take a little while!</small>
    <p class="card-text mt-3" *ngIf="shortenedUrl !== null">Here is your shortened link:</p>
    <pre *ngIf="shortenedUrl !== null" class="d-block btn-light p-2 text-dark border border-1 text-wrap"><strong class="card-text"><a class="card-text" href="{{shortenedUrl}}">{{shortenedUrl}}</a></strong></pre>
    <div class="alert alert-danger mt-3" *ngIf="shortenerError !== null" role="alert">{{shortenerError}}</div>
  </div>
  <div class="card-footer">
    <small>Not exactly what you wanted? Just change your settings and hit the Build button again!</small>
  </div>
</div>
